@page
@model Mindlift.Pages.WishLists.IndexModel

@{
    ViewData["Title"] = "Manage Your Wishlist";
}

<h1>Manage Your Wishlist</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wishlist[0].DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wishlist[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wishlist[0].Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Wishlist) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.WishlistId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.WishlistId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.WishlistId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
